# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto Run Daily

on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run report
      shell: bash
      env:
        USERNAME: ${{ secrets.username }}
        PASSWORD: ${{ secrets.password }}
        API_KEY: ${{ secrets.api_key }}
      run: |
        python report.py "$USERNAME" "$PASSWORD" -k "$API_KEY"
